<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_zoho'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/w/index.php?title=English_alphabet&oldid=819841239
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='crm'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='318'
				translate='label'
			>
				<label>CRM</label>
				<dfExtension>Dfe_ZohoCRM</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/zoho-crm' target='_blank'>Zoho CRM</a>» extension?]]></comment>
				</field>
				<field
					id='token'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='obscure'
				>
					<label>Authentication Token</label>
					<comment><![CDATA[<div class='df-note'><ol><li>Click <a href='https://accounts.zoho.com/apiauthtoken/create?SCOPE=ZohoCRM/crmapi&DISPLAY_NAME=Mage2.PRO' target='_blank'>the link</a>.</li><li>Enter your Zoho username and password (if you are asked for it)</li><li>You will see a string like AUTHTOKEN=&lt;<code>your token</code>&gt;. Copy the <code>your token</code> value (it is a 32-character string like <code>2cb9cf21cb7c5116623b8da2f9b99497</code>), and paste it to the input field above.</li></ol>The full process is described in the <a href='https://www.zoho.eu/crm/help/api/using-authentication-token.html#Generate_Auth_Token' target='_blank'>Zoho CRM API documentation</a>.</div>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='domain'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='select'
				>
					<label>Your Zoho CRM domain</label>
					<source_model>Dfe\ZohoCRM\Source\Domain</source_model>
					<comment><![CDATA[You can find it out in your browser's address bar after logging into your Zoho CRM application.]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
				<field
					id='domain_custom'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
				>
					<label>Custom Domain</label>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='domain'>other</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>